.popup__button {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: -40px;
    top: -40px;
    transition: 0.5s;
    cursor: pointer;
  }

  .popup__button:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 506px) {
    .popup__button {
      width: 20px;
      height: 20px;
      right: 0;
      top: -36px;
    }
  }