.login__password {
    width: 358px;
    margin: 0 0 216px 0;
    padding: 0 0 13px 0;
    background-color: black;
    border: 0;
    border-bottom: 2px solid rgba(204, 204, 204, 1);
    color: rgba(255, 255, 255, 1);
}