.footer {
  max-width: 880px;
  margin: 67px auto 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 1075px) {
  .footer {
    margin: 67px 150px 0 150px;
  }
}

@media screen and (max-width: 983px) {
  .footer {
    margin: 67px 100px 0 100px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    max-width: 282px;
    margin: 0 19px 0 19px;
    padding-bottom: 36px;
  }
}