.popup__img-close {
    width: 32px;
    height: 32px;
    transition: 0.5s;
  }
  
  @media screen and (max-width: 506px) {
    .popup__img-close {
      width: 20px;
      height: 20px;
    }
  }
  
  .popup__img-close:hover {
    opacity: 0.8;
  }