.popup-place {
    display: none;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}